/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 17, 2017, 1:38:33 PM
    Author     : admin
*/


.bed-booking-title{
    font-weight:500;
    text-transform:uppercase;
    color:#666;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.bed-booking-total{
    font-weight:500;
    font-size:50px;
}

.bed-booking-a, .bed-booking-o, .bed-booking-p{
    font-weight:500;
    margin:0px 5px;
}

.bed-booking-a{
    color:#26a69a;
}

.bed-booking-o{
    color:#f5707a;
}

.bed-booking-p{
    color:#f9c851;
}


.loading {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

    background: url(ajax-loader.gif) center no-repeat;
    background-color: rgba(255, 255, 255, .8);
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(350deg);
        -moz-transform: rotate(350deg);
        -ms-transform: rotate(350deg);
        -o-transform: rotate(350deg);
        transform: rotate(350deg);
    }
}